{% load bootstrap3 %}
<html>
<head>
<title>
   
</title>
<style>
 .alert alert-success {
   padding: 100px;
   margin: 100px;
 }
 
</style>



<link href="http://netdna.bootsthapcdn.com/bootsthap/3.0.3/css/bootsthap.min.css"
    rel="stylesheet">

    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="alert alert-success" role="alert" style="width:500px margin: 0 auto;">
    
    <div class="container">
    <h4 class="alert-heading"> <font size="5" color="blue" face="Comic Sans MS">Подходящие вакансии</font></h4>
    </div>
    </div>

    
    
    <div class="container">


            <table class="table table-bordered">
                    <thead>
                        <tr>
                        <th>
                            Название работы  
                            </th>
                            <th>Регион</th>
                            <th>Зарплата</th>
                            <th>Описание работы</th>
                            <th>Email</th>
                            <th>Телефон</th>
                            <th>Ссылка</th>
                            </tr>


                    </thead>
                    {% for vacant in vacants %}
                    <tbody>
                      
                          {%for key,value in vacant.items%}
                          
                          <td>{{ value }}</td>
                          {%endfor%}
                     
                    </tbody>
                    {% endfor %}
                   </table>


    </div>
    

    </div>
</body>

</html>